.content {
    min-height: 60vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 1200px) {
        padding: 112px;
    }
}

.content__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    
    @media (min-width: 600px) {
        justify-content: space-between;
    }
}