.modal-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

}

.modal-body {
    background: #1A1A1A;
    color: #ffffff;
    width: 320px;
    position: absolute;
    top: 0;
    padding: 24px;

    max-width: 980px;
    transition-duration: 4s;
    transition-timing-function: linear;
    border-radius: 3px;

    @media (min-width: 1200px) {
        width: 800px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .card__name {
        margin-left: 16px;
        font-size: 22px;
    }
}

.modal-header {
    padding-top: 24px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 2px solid #808080;
    position: relative;
}

.modal_close {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: -20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 19px;
        height: 2px;
        background: #ffffff;
        top: 50%;
        left: 6px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {

        &::before,
        &::after {
            background-color: darken(#fff, 50%);
        }
    }

    @media (min-width: 1200px) {
        right: -60px;
    }

}

.modal_close svg:hover path {
    stroke: red;
}

.modal-footer {
    list-style: none;
    padding-top: 48px;
    padding-bottom: 24px;
}

.modal__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;

    span {
        display: block;
    }

}

.modal__item-title {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    img {
        margin-right: 11px;
    }
}