.modal-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    background: #eaeaea;
    width: 72%;
    max-width: 980px;
    transition-duration: 4s;
    transition-timing-function: linear;
    border-radius: 3px;
}